<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }} " class="d-inline-block">Orhithedog
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        {% include navigation.html %}
        <!-- End Menu -->    
        
    </div>
</header>